@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #5a6268;
}

.done-item {
  text-decoration: line-through!important;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  background-color: #dadde0;
}

.list-group-item-action:active {
  background-color: #c2c7cc;
}

.button-cancel-eng {
  margin-left: 8rem;
}

.button-cancel-rus {
  margin-left: 4rem;
}